body {
    font-family: "Comic Sans MS", sans-serif;
}

h1 {
    font-size: 22px;
}

.hyperlinks {
    text-decoration: none;
    color: #22aa22;
}

.tile_small {
    background-color: #333;
    color: white;
    height: 35px;
    border-style: none;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;
}

.tile_small:hover {
    background-color: #111;
    color: white;
}

/* some snippets from https://www.w3schools.com/css/css_navbar.asp */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    padding: 13px 18px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
}

li a:hover {
    background-color: #111;
}

li a.active {
    background-color: #22aa22;
}

