{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ page_title }} </title>
        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen"/>
        <link href="{%  static 'favicon.ico' %}" rel="shortcut icon"/>
        <!-- END STATIC FILES -->
    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul class="nav-bar">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about" class="active">About</a></li>
            <li class="nav-link"><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="nav-link" style="float:right"><a href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-link" style="float:right"><a href="/login">Login</a></li>
            {% endif %} 
            <li class="nav-link" style="float:right"><a href="/register">Register</a></li>
        </ul>
        <content>
            <br>
            <h1>About Smart City</h1>
            <p>
                The purpose of this website is to view information about locations around various cities. 
                This includes colleges, zoos, museums, parks, restaurants, etc. 
                The information, while logged in, will be personalized to fit your user group. Whether you're a businessman, tourist, or student, 
                you'll be able to use this tool as a guide to help you find what you need in the metropolis!
            </p>
        </content>
    </body>
</html>
