{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen"/>
        <link href="{%  static 'favicon.ico' %}" rel="shortcut icon"/>
        <!-- END STATIC FILES -->
    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul class="nav-bar">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="nav-link" style="float:right"><a href="/logout">Logout</a></li>
                {% if group_id == 1 %}
                    <li class="nav-link"><a href="/places" class="active">Edit places</a></li>
                {% endif %}
                <li class="nav-link" style="float:right"><a href="/profile">{{user.username}}</a></li>
            {% else %}
                <li class="nav-link" style="float:right"><a href="/login">Login</a></li>
                <li class="nav-link" style="float:right"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
        {% if place_id == 0 %}
            <h2>Create new place</h2>
        {% else %}
            <h2>Editing "{{ place.map_item_name }}"</h2>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            ID: {{ place_id }} <br>
            Name: <input type="text" name="name" id="name" value="{{place.map_item_name}}"/><br>
            Address: <input type="text" name="addr" id="addr" value="{{place.map_item_address}}"/><br>
            Industry type: <input type="text" name="ind" id="ind" value="{{place.map_item_industry_type}}"/><br>
            Department: <input type="text" name="depart" id="depart" value="{{place.map_item_department}}"/><br>
            Email: <input type="email" name="email" id="email" value="{{place.map_item_email}}"/><br>
            Phone: <input type="text" name="phone" id="phone" value="{{place.map_item_phone}}"/><br>
            <span title="Businessmen, Students, tourists"> <!-- temporary until dropdown list is added -->
                    Group: <input type="text" name="group" id="group" value="{{place.name}}"/><br>
            </span>
            <br>
            <input class="tile_small" type="submit" name="submit" id="submit" value="Submit"/>
        </form>
    </body>
</html>
