{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ page_title }} </title>

        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- END STATIC FILES -->
    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
            <li style="float:right"><a href="/register">Register</a></li>
        </ul>

        <content>
            <br>
            <p>
                Welcome to Smart City: your guide to {{ location }}! Below is a map tool which you can use to find places in the city in which you're interested!
            </p>
            <br>
            <!-- Temporary. Cities should be loaded from database to allow 
                 functionality to add new cities to the system -->
            <form method='get'>
                <input id="btnBrisbane" class="tile_small" type="submit" value="Brisbane" name="city"/>
                <input id="btnSydney" class="tile_small" type="submit" value="Sydney" name="city"/>
                <input id="btnPerth" class="tile_small" type="submit" value="Perth" name="city"/>
                <input id="btnHobart" class="tile_small" type="submit" value="Hobart" name="city"/>
            </form>

            <br>

            <div class="map">

                {% if location == "Brisbane" %}

                    <!-- Change button to green -->
                    <script>document.getElementById("btnBrisbane").style.background='#22aa22';</script>

                    <h1>Temporary map of {{location}} (from Google). Insert our own map here:</h1>
                    <img src="{% static 'brisbane-map.PNG' %}" />
                {% elif location == "Sydney" %}
                    
                    <!-- Change button to green -->
                    <script>document.getElementById("btnSydney").style.background='#22aa22';</script>

                    <h1>Temporary map of {{location}}. Insert map here:</h1>
                    <img src="{% static 'sydney-map.PNG' %}" />

                {% elif location == "Perth" %}
                
                    <!-- Change button to green -->
                    <script>document.getElementById("btnPerth").style.background='#22aa22';</script>

                    <h1>Temporary map of {{location}}. Insert map here:</h1>
                    <img src="{% static 'perth-map.PNG' %}" />

                {% elif location == "Hobart" %}

                    <!-- Change button to green -->
                    <script>document.getElementById("btnHobart").style.background='#22aa22';</script>

                    <h1>Temporary map of {{location}}. Insert map here:</h1>
                    <img src="{% static 'hobart-map.PNG' %}" />
                {% else %}

                    <h1>Please select a city or <a class="hyperlinks" href="/login">login</a> to continue.</h1>
                    <h1>Not registered? Register <a class="hyperlinks" href="/register">here.</a></h1>
                    
                {% endif %}

            </div>

        </content>
    </body>
</html>