{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen"/>
        <link href="{%  static 'favicon.ico' %}" rel="shortcut icon"/>
        <!-- END STATIC FILES -->

    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul class="nav-bar">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="nav-link" style="float:right"><a href="/logout">Logout</a></li>
                {% if group_id == 1 %}
                    <li class="nav-link"><a href="/places" class="active">Edit places</a></li>
                    <li class="nav-link"><a href="/administration">Administration</a></li>
                {% endif %}
                <li class="nav-link" style="float:right"><a href="/profile">{{user.username}}</a></li>
            {% else %}
                <li class="nav-link" style="float:right"><a href="/login">Login</a></li>
                <li class="nav-link" style="float:right"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
        <h2>Places.</h2>
        <a href="/editor?id=0"><input style="background-color: rgb(95, 216, 95); color: rgb(0, 0, 0); height: 35px; border-style:none; border-radius: 8px; font-family: sans-serif; font-size: 18px;" id="add" value="Add new place" type="button" name="add"/></a>
        <hr>
        <table id="place_list" class="tbl">
            <!-- Headings -->
            <tr>
                <td class="cell"><b>ID</b></td>
                <td class="cell"><b>Name</b></td>
                <td class="cell"><b>Address</b></td>
                <td class="cell"><b>Industry type</b></td>
                <td class="cell"><b>Department</b></td>
                <td class="cell"><b>email</b></td>
                <td class="cell"><b>Phone</b></td>
                <td class="cell"><b>Group</b></td> <!-- Inner joined column -->
            </tr>
            <!-- Results -->
            {% for result in results %}
                <tr>
                    <td class="cell">{{result.map_item_id}}</td>
                    <td class="cell">{{result.map_item_name}}</td>
                    <td class="cell">{{result.map_item_address}}</td>
                    <td class="cell">{{result.map_item_industry_type}}</td>
                    <td class="cell">{{result.map_item_department}}</td>
                    <td class="cell">{{result.map_item_email}}</td>
                    <td class="cell">{{result.map_item_phone}}</td>
                    <td class="cell">{{result.name}}</td> <!-- Inner joined column -->
                    <td class="cell">
                        <a href="/editor?id={{result.map_item_id}}"><img src="../../../static/edit.png" width="15" height="15" title="Edit" alt="Edit Icon"></a>
                        <a href="/editor?id={{result.map_item_id}}"><img src="../../../static/delete.png" width="15" height="15" title="Delete" alt="Delete Icon"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
