{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page_title }}</title>
        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen"/>
        <link href="{%  static 'favicon.ico' %}" rel="shortcut icon"/>
        <!-- END STATIC FILES -->
    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul class="nav-bar">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="nav-link" style="float:right"><a href="/logout">Logout</a></li>
                {% if group_id == 1 %}
                    <li class="nav-link"><a href="/places">Edit places</a></li>
                    <li class="nav-link"><a href="/administration" class="active">Administration</a></li>
                {% endif %}
                <li class="nav-link" style="float:right"><a href="/profile">{{user.username}}</a></li>
            {% else %}
                <li class="nav-link" style="float:right"><a href="/login">Login</a></li>
                <li class="nav-link" style="float:right"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
        {% if u.username == null %}
            <h2>Create new user</h2>
        {% else %}
            <h2>Editing "{{ u.username }}"</h2>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% if u.username != null %}
            ID: {{ user_id }} <br>
            {% endif %}
            Username: <input type="text" name="username" id="addr" value="{{u.username}}"/><br>
            {% if u.username == null %}
                Password: <input type="text" name="password" id="password" value=""/><br>
            {% endif %}
            First Name: <input type="text" name="first_name" id="first_name" value="{{u.first_name}}"/><br>
            Last Name: <input type="text" name="last_name" id="last_name" value="{{u.last_name}}"/><br>
            Email: <input type="email" name="email" id="email" value="{{u.email}}"/><br>
            Account Type: <input type="text" name="account_type" id="account_type" value="{{user_group}}"/><br> 
            <br>
            <input class="tile_small" type="submit" name="submit" id="submit" value="Submit"/>
        </form>
    </body>
</html>
