{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> {{ page_title }} </title>

        <!-- STATIC FILES -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- END STATIC FILES -->
    </head>
    <body>
        <img src="{% static 'logo.png' %}" />
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li style="float:right"><a href="/logout">Logout</a></li>
            {% else %}
                <li style="float:right"><a href="/login">Login</a></li>
            {% endif%}
            <li style="float:right"><a class="active" href="/register">Register</a></li>
        </ul>

        <h2>Registration</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
    </body>
</html>